# String Based Assignment Problem

1. Write a program to reverse a string.
2. Check if a string is a palindrome.
3. Convert a string to uppercase.
4. Convert a string to lowercase.
5. Count the number of vowels in a string.
6. Count the number of consonants in a string.
7. Remove all whitespaces from a string.
8. Find the length of a string without using the `len()` function.
9. Check if a string contains a specific word.
10. Replace a word in a string with another word.
11. Count the occurrences of a word in a string.
12. Find the first occurrence of a word in a string.
13. Find the last occurrence of a word in a string.
14. Split a string into a list of words.
15. Join a list of words into a string.
Assignment
Full Stack Data Science Pro
TOPIC: String Based Assignment Problem
Full Stack Data Science Pro
16. Convert a string where words are separated by spaces to one where words
are separated by underscores.
17. Check if a string starts with a specific word or phrase.
18. Check if a string ends with a specific word or phrase.
19. Convert a string to title case (e.g., "hello world" to "Hello World").
20. Find the longest word in a string.
21. Find the shortest word in a string.
22. Reverse the order of words in a string.
23. Check if a string is alphanumeric.
24. Extract all digits from a string.
25. Extract all alphabets from a string.
26. Count the number of uppercase letters in a string.
27. Count the number of lowercase letters in a string.
28. Swap the case of each character in a string.
29. Remove a specific word from a string.
30. Check if a string is a valid email address.
Full Stack Data Science Pro
31. Extract the username from an email address string.
32. Extract the domain name from an email address string.
33. Replace multiple spaces in a string with a single space.
34. Check if a string is a valid URL.
35. Extract the protocol (http or https) from a URL string.
36. Find the frequency of each character in a string.
37. Remove all punctuation from a string.
38. Check if a string contains only digits.
39. Check if a string contains only alphabets.
40. Convert a string to a list of characters.
41. Check if two strings are anagrams.
42. Encode a string using a Caesar cipher.
43. Decode a Caesar cipher encoded string.
44. Find the most frequent word in a string.
45. Find all unique words in a string.
46. Count the number of syllables in a string.
Full Stack Data Science Pro
47. Check if a string contains any special characters.
48. Remove the nth word from a string.
49. Insert a word at the nth position in a string.
50. Convert a CSV string to a list of lists.

In [ ]:
# 1

s = input("enter string: ")

sr = s[::-1]

print("reversed string is ", sr)

enter string: suma anusha
reversed string is  ahsuna amus

In [ ]:
# 2

if s == sr:
    print("string",s," is palindrome")
else:
    print("string",s,"is not palindrome")

string suma anusha is not palindrome

In [ ]:
# 3

print("upper case of a string is" ,s.upper())

upper case of a string is SUMA ANUSHA

In [ ]:
#4

print(" lower case of a string is",s.lower())

 lower case of a string is suma anusha

In [ ]:
# 5
count = 0
s = input("enter word! ")

v = "aeiouAEIOU"
for i in s:
    if i in v:
        count+=1

count

enter word! suma

2

In [ ]:
# 6

count = 0
s = input("enter word! ")

v = "aeiouAEIOU"
for i in s:
    if i not in v:
        count+=1

count

enter word! suma

2

In [ ]:
# 7

s1 = "  suma anusha    "

s1.replace(" ","")

'sumaanusha'

In [ ]:
# 8
count = 0
s = " suma anusha abbireddy"

for i in s:
    count+=1
print("length of string is ",count)

length of string is  22

In [ ]:
# 9

s = "This is the best team, where I have been working with them since 2011"

"team" in s

True

In [ ]:
# 10

s = "suma anusha abbireddy"

t = s.replace("anusha","aneesha")
print("after replacing: ", t)

after replacing:  suma aneesha abbireddy

In [ ]:
# 11

s = "The the rain kept falling, creating a soothing rhythm on the windowpane."

print("repetition of word the is ",s.count("the"))

repetition of word the is  2

In [ ]:
# 12
s = "The the rain kept falling, creating a soothing rhythm on the windowpane."

t = input("enter word ! ")
print("first occurence of",t,"starts at index ",s.find(t))

enter word ! the
first occurence of the starts at index  4

In [ ]:
# 13

s = "The the rain kept falling, creating a soothing rhythm on the windowpane."

s.rfind("the")

57

In [ ]:
#14
s = input("enter string: ")
s.split(" ")

enter string: suma anusha

['suma', 'anusha']

In [ ]:
# 15
l = ["my" ,"name" , "is", "suma"]

d = " "

s = d.join(l)
s

'my name is suma'

In [ ]:
# 16

s = "suma, anusha, reddy"
s.replace(",","_")

'suma_ anusha_ reddy'

In [ ]:
# 17

s.startswith("s")

True

In [ ]:
# 18

s.endswith("s")

False

In [ ]:
# 19

s4 = input("enter string: ")

s4.title()

enter string: suma anusha

'Suma Anusha'

In [ ]:
# 20. Find the longest word in a string.
s = input("enter string: ")
t = s.split()
l = []
for i in t:
    l.append(len(i))
l
r = dict(zip(t,l))
k = max(zip(r.values(),r.keys()))[1]
k

enter string: suma anusha

'anusha'

In [ ]:
# 21
s = "suma anusha abbireddy"
t = s.split()
l = []
for i in t:
    l.append(len(i))
l
r = dict(zip(t,l))
k = min(zip(r.values(),r.keys()))[1]
k

'suma'

In [ ]:
# 22. Reverse the order of words in a string.

s = "Suma anusha abbireddy"
t = s.split()
t.reverse()
separator = " "
k = separator.join(t)
k

'abbireddy anusha Suma'

In [ ]:
# 23

s1 = "Aneesha111"
s2 = "suma anusha"
print(s1.isalnum())
print(s2.isalnum())

True
False

In [ ]:
# 24

k =[]
s = "1234suma12re123"
a = "1234567890"

for i in s:
    if i in a:
       print(i)

1
2
3
4
1
2
1
2
3

In [ ]:
# 24

s="09isumaAneesha111"
for i in range(0,10):
    for j in s:
        if str(i)==j:
            print(j)

0
1
1
1
9

In [ ]:
# 25


k =[]
s = "1234suma12anusha123ABBIREDDY"
a = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"

for i in s:
    if i in a:
       print(i)

s
u
m
a
a
n
u
s
h
a
A
B
B
I
R
E
D
D
Y

In [ ]:
# 26
count =0
upper = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
s = "SUmaAnushaABBIredDY"
for i in s:
    if i in upper:
       count+=1
count

9

In [ ]:
# 27
l =[]
upper = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
lower = upper.lower()
s = "SUmaAnushaABBIredDY"
for i in s:
    if i in lower:
        l.append(i)
len(l)

10

In [ ]:
L="S"
L.isupper()

True

In [ ]:
# 28
l=[]
upper = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
s = "SUmaAnushaABBIredDY"
for i in s:
    if i in upper:
        l.append(i.lower())
    else:
        l.append(i.upper())
l

['s',
 'u',
 'M',
 'A',
 'a',
 'N',
 'U',
 'S',
 'H',
 'A',
 'a',
 'b',
 'b',
 'i',
 'R',
 'E',
 'D',
 'd',
 'y']

In [ ]:
#28
s = "SUmaAnushaABBIredDY"
s.swapcase()

'suMAaNUSHAabbiREDdy'

In [ ]:
# 29. Remove a specific word from a string.


i = "suma anusha reddy abbireddy"
k = list(i.split(" "))
j = input("enter word to remove:")
for i in k:
  if i==j:
    k.remove(i)
t = " ".join(k)
t

enter word to remove:suma

'anusha reddy abbireddy'

In [ ]:
# 30

In [ ]:
# 31. Extract the username from an email address string.
email = input("enter email address:")
x = email.split("@")
if len(x) ==2:
  print(f"{x[0]} is the username")
else:
  print("entered invalid email")

enter email address:subbiramreddy111@gmail.com
subbiramreddy111 is the username

In [ ]:
# 32. Extract the domain name from an email address string.
email = input("enter email address:")
x = email.split("@")
if len(x) ==2:
  print(f"{x[1]} is the domain name")
else:
  print("entered invalid email")

enter email address:suma.abbireddy@fractal.ai
fractal.ai is the domain name

In [7]:
# 33. Replace multiple spaces in a string with a single space.
import re
def replacing_mul_spaces_with_single_space(string):
  cleaned_string = re.sub(r'\s+',' ',string)
  return cleaned_string

replacing_mul_spaces_with_single_space("suma  anusha  abbireddy   reddy  studying     12 th grade. ")

'suma anusha abbireddy reddy studying 12 th grade. '

In [8]:
# 34. Check if a string is a valid URL.
import re

def is_valid_url(url):
    url_pattern = re.compile(r"^(https?|ftp|file)://[-A-Za-z0-9+&@#/%?=~_|!:,.;]*[-A-Za-z0-9+&@#/%=~_|]$")

    return bool(url_pattern.match(url))

url = "https://www.example.com"
if is_valid_url(url):
    print(f"'{url}' is a valid URL.")
else:
    print(f"'{url}' is not a valid URL.")

'https://www.example.com' is a valid URL.

In [9]:
# 35. Extract the protocol (http or https) from a URL string.
import re

def extract_protocol(url):
    protocol_pattern = re.compile(r"^(https?)://")

    match = protocol_pattern.match(url)

    if match:
        return match.group(1)
    else:
        return "No protocol found"

# Example usage:
url = "https://www.example.com"
protocol = extract_protocol(url)
print(f"The protocol in the URL is: {protocol}")

The protocol in the URL is: https

In [15]:
# 36. Find the frequency of each character in a string
def count_characters(string):
    char_count = {}
    for i in string:
        if i in char_count:
            char_count[i] += 1
        else:
            char_count[i] = 1

    return char_count

char_frequency = count_characters("suma abbireddy")

# Print the character frequencies
for i, count in char_frequency.items():
    print(f"'{i}' appears {count} times.")

's' appears 1 times.
'u' appears 1 times.
'm' appears 1 times.
'a' appears 2 times.
' ' appears 1 times.
'b' appears 2 times.
'i' appears 1 times.
'r' appears 1 times.
'e' appears 1 times.
'd' appears 2 times.
'y' appears 1 times.

In [16]:
# 37. Remove all punctuation from a string.

import string

def remove_punctuation(input_string):
    translator = str.maketrans('', '', string.punctuation)

    cleaned_string = input_string.translate(translator)

    return cleaned_string

cleaned_string = remove_punctuation("Hello, world! This is a sample string with punctuation.")
print(cleaned_string)

Hello world This is a sample string with punctuation

In [19]:
# 38. Check if a string contains only digits.
def str_digit(string):
  return string.isdigit()

str_digit("A123")

False

In [20]:
# 39. Check if a string contains only alphabets.
def str_alpha(string):
  return string.isalpha()

str_alpha("A123")

False

In [21]:
# 40. Convert a string to a list of characters.
def str_to_char(string):
  l=[]
  for i in string:
    l.append(i)
  return l

str_to_char("suma anusha")

['s', 'u', 'm', 'a', ' ', 'a', 'n', 'u', 's', 'h', 'a']

In [22]:
# 41. Check if two strings are anagrams.
# anagrams means ----Anagrams are words or phrases that are formed by rearranging the sorted letters of another word or phrase
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    return sorted(str1) == sorted(str2)


string1 = "listen"
string2 = "silent"

if are_anagrams(string1, string2):
    print(f"'{string1}' and '{string2}' are anagrams.")
else:
    print(f"'{string1}' and '{string2}' are not anagrams.")

'listen' and 'silent' are anagrams.

In [23]:
# 42. Encode a string using a Caesar cipher.
def caesar_cipher_encode(input_string, shift):
    encoded_string = ""

    for char in input_string:
        if char.isalpha():
            # Determine the character set (uppercase or lowercase) and the base character
            if char.islower():
                base_char = 'a'
                char_set_size = 26
            else:
                base_char = 'A'
                char_set_size = 26

            # Calculate the new character position after the shift
            shifted_char = chr(((ord(char) - ord(base_char) + shift) % char_set_size) + ord(base_char))

            encoded_string += shifted_char
        else:
            # Preserve non-alphabetical characters as is
            encoded_string += char

    return encoded_string

# Example usage:
input_string = "Hello, World!"
shift_amount = 3
encoded_string = caesar_cipher_encode(input_string, shift_amount)
print(f"Original: {input_string}")
print(f"Encoded:   {encoded_string}")

Original: Hello, World!
Encoded:   Khoor, Zruog!

In [24]:
# 43. Decode a Caesar cipher encoded string.
def caesar_cipher_decode(encoded_string, shift):
    decoded_string = ""

    for char in encoded_string:
        if char.isalpha():
            # Determine the character set (uppercase or lowercase) and the base character
            if char.islower():
                base_char = 'a'
                char_set_size = 26
            else:
                base_char = 'A'
                char_set_size = 26

            # Calculate the original character position before the shift
            original_char = chr(((ord(char) - ord(base_char) - shift) % char_set_size) + ord(base_char))

            decoded_string += original_char
        else:
            # Preserve non-alphabetical characters as is
            decoded_string += char

    return decoded_string

# Example usage:
encoded_string = "Khoor, Zruog!"
shift_amount = 3
decoded_string = caesar_cipher_decode(encoded_string, shift_amount)
print(f"Encoded:   {encoded_string}")
print(f"Decoded:   {decoded_string}")

Encoded:   Khoor, Zruog!
Decoded:   Hello, World!

In [25]:
# 44. Find the most frequent word in a string.
def most_frequent_word(input_string):
    words = input_string.split()

    word_freq = {}
    for word in words:
        cleaned_word = word.strip('.,!?').lower()
        if cleaned_word in word_freq:
            word_freq[cleaned_word] += 1
        else:
            word_freq[cleaned_word] = 1
    most_frequent = max(word_freq, key=word_freq.get)
    return most_frequent

# Example usage:
input_string = "This is a test. This is only a test. Testing, one, two, three."
result = most_frequent_word(input_string)
print(f"The most frequent word is: '{result}'")

The most frequent word is: 'this'

In [31]:
# 45. Find all unique words in a string.
import re

def unique_words(input_string):
  l=[]
  words = input_string.split()
  for i in words:
    l.append(i)
  return set(l)
unique_words("This is a test. This is only a test. Testing, one, two, three.")

{'Testing,', 'This', 'a', 'is', 'one,', 'only', 'test.', 'three.', 'two,'}

In [32]:
# 46. Count the number of syllables in a string
import re

def count_syllables(input_string):
    # Remove non-alphanumeric characters and convert to lowercase
    cleaned_string = re.sub(r'[^a-zA-Z ]', '', input_string).lower()

    # Split the cleaned string into words
    words = cleaned_string.split()

    syllable_count = 0

    for word in words:
        vowels = "aeiouy"  # English vowels

        # Count consecutive vowel sequences as one syllable
        in_vowel_sequence = False

        for char in word:
            if char in vowels:
                if not in_vowel_sequence:
                    syllable_count += 1
                in_vowel_sequence = True
            else:
                in_vowel_sequence = False

    return syllable_count

# Example usage:
input_string = "Hello, World! This is a test sentence."
syllables = count_syllables(input_string)
print(f"Number of syllables: {syllables}")

Number of syllables: 10

In [3]:
# 47. Check if a string contains any special characters.
def str_spe_check(string):
  l=[]
  for i in string:
    if i in "!@#$%^&*()_+{}\[\]:;<>,.?~\\/":
      l.append(i)
  if len(l) ==0:
    return "string doesn't contain any special characters"
  elif len(l)>0:
    return "string contain special characters"

str_spe_check("Aneesha@314")

'string contain special characters'

In [6]:
#48. Remove the nth word from a string.
def remove_word(string,position):
  words = string.split()
  if position<0 or position>len(string):
    return "invalid removal of word"
  else:
    removed_word = words.pop(position-1)
    modified_string = " ".join(words)
    return modified_string
remove_word("suma anusha abbireddy",3)

'suma anusha'

In [3]:
# 49. Insert a word at the nth position in a string.
def insert_word(string,word,position):
  if position<0 or position>len(string):
    return "invalid insertion of word"
  else:
    modified_string = string[:position]+word+string[position:]
    return modified_string

insert_word("Suma anusha  abbireddy","reddy",12)

'Suma anusha reddy abbireddy'

In [ ]:
# 50. Convert a CSV string to a list of lists.
s = """ Name,Age,Location\n John,30,New York \n Alice,25,Los Angeles\n Bob,35,Chicago"""

lines = s.split('\n')
result = []
for i in lines:
  fields = i.split(',')
  result.append(fields)
result

[[' Name', 'Age', 'Location'],
 [' John', '30', 'New York '],
 [' Alice', '25', 'Los Angeles'],
 [' Bob', '35', 'Chicago']]

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.
2. Find the length of a list without using the `len()` function.
3. Append an element to the end of a list.
4. Insert an element at a specific index in a list.
5. Remove an element from a list by its value.
6. Remove an element from a list by its index.
7. Check if an element exists in a list.
8. Find the index of the first occurrence of an element in a list.
9. Count the occurrences of an element in a list.
10. Reverse the order of elements in a list.
Full Stack Data Science Pro
11. Sort a list in ascending order.
12. Sort a list in descending order.
13. Create a list of even numbers from 1 to 20.
14. Create a list of odd numbers from 1 to 20.
15. Find the sum of all elements in a list.
16. Find the maximum value in a list.
17. Find the minimum value in a list.
18. Create a list of squares of numbers from 1 to 10.
19. Create a list of random numbers.
20. Remove duplicates from a list.
21. Find the common elements between two lists.
22. Find the difference between two lists.
23. Merge two lists.
24. Multiply all elements in a list by 2.
25. Filter out all even numbers from a list.
Full Stack Data Science Pro
26. Convert a list of strings to a list of integers.
27. Convert a list of integers to a list of strings.
28. Flatten a nested list.
29. Create a list of the first 10 Fibonacci numbers.
30. Check if a list is sorted.
31. Rotate a list to the left by `n` positions.
32. Rotate a list to the right by `n` positions.
33. Create a list of prime numbers up to 50.
34. Split a list into chunks of size `n`.
35. Find the second largest number in a list.
36. Replace every element in a list with its square.
37. Convert a list to a dictionary where list elements become keys and their
indices become values.
38. Shuffle the elements of a list randomly.
39. Create a list of the first 10 factorial numbers.
Full Stack Data Science Pro
40. Check if two lists have at least one element in common.
41. Remove all elements from a list.
42. Replace negative numbers in a list with 0.
43. Convert a string into a list of words.
44. Convert a list of words into a string.
45. Create a list of the first `n` powers of 2.
46. Find the longest string in a list of strings.
47. Find the shortest string in a list of strings
48. Create a list of the first `n` triangular numbers.
49. Check if a list contains another list as a subsequence.
50. Swap two elements in a list by their indice

In [ ]:
# 1

l = [1,2,3,4,5,6,7,8,9,10,1,1,1,5,6,7,76909,5,3,2,8,9,0,1,2,3,0,54,2,32,232,12,12,12,4,55467,887,6]
type(l)

list

In [ ]:
# 2 (useful in case distinct elemets in list)

li = [1,2,3,4,5,9]
# gives index position of last element adding 1 to it gives length of list
l0 = li.index(9)+1

print("Length of list l without using len() fun is " ,l0)

Length of list l without using len() fun is  6

In [ ]:
# 2

count = 0
for i in l:
    count+=1
count

38

In [ ]:
# 3

l.append(11)
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 1,
 1,
 5,
 6,
 7,
 76909,
 5,
 3,
 2,
 8,
 9,
 0,
 1,
 2,
 3,
 0,
 54,
 2,
 32,
 232,
 12,
 12,
 12,
 4,
 55467,
 887,
 6,
 11]

In [ ]:
# 4
l.insert(0,13)

In [ ]:
l

[13,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 1,
 1,
 5,
 6,
 7,
 76909,
 5,
 3,
 2,
 8,
 9,
 0,
 1,
 2,
 3,
 0,
 54,
 2,
 32,
 232,
 12,
 12,
 12,
 4,
 55467,
 887,
 6,
 11]

In [ ]:
# 5
l.remove(13)
l

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 1,
 1,
 5,
 6,
 7,
 76909,
 5,
 3,
 2,
 8,
 9,
 0,
 1,
 2,
 3,
 0,
 54,
 2,
 32,
 232,
 12,
 12,
 12,
 4,
 55467,
 887,
 6,
 11]

In [ ]:
# 6
l.remove(l[0])
l

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 1,
 1,
 1,
 5,
 6,
 7,
 76909,
 5,
 3,
 2,
 8,
 9,
 0,
 1,
 2,
 3,
 0,
 54,
 2,
 32,
 232,
 12,
 12,
 12,
 4,
 55467,
 887,
 6,
 11]

In [ ]:
# 7

3 in l

True

In [ ]:
# 8

l.index(4)

2

In [ ]:
# 9

# counting occurences of element 2

l.count(2)

4

In [ ]:
# 10

l = [1,2,3,4,5,6,7]
l[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
#11. Sort a list in ascending order.
l = [12,43,1,6,4,21,89]
l.sort()
l

[1, 4, 6, 12, 21, 43, 89]

In [ ]:
# 12. Sort a list in descending order
l = [12,43,1,6,4,21,89]
l.sort()
l[::-1]

[89, 43, 21, 12, 6, 4, 1]

In [ ]:
# 13. Create a list of even numbers from 1 to 20.
l=[]
for i in range(1,21):
  if i%2==0:
    l.append(i)
l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
# 14. Create a list of odd numbers from 1 to 20.
l=[]
for i in range(1,21):
  if i%2!=0:
    l.append(i)
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 15. Find the sum of all elements in a list.
l =[1,2,3,4,5,6,7,8,9]
sum(l)

45

In [ ]:
# 16. Find the maximum value in a list.
max(l)

9

In [ ]:
#17. Find the minimum value in a list.
min(l)

1

In [ ]:
# 18. Create a list of squares of numbers from 1 to 10.
for i in range(1,11):
  print(i**2,end =" ")

1 4 9 16 25 36 49 64 81 100

In [ ]:
# 19. Create a list of random numbers.
import random
random.sample([1,2,4,5,6,7,8,9,10,91,92,93,94,100],8)

[5, 10, 94, 7, 100, 2, 6, 91]

In [ ]:
# 20

l1 = [1,2,2,3,0,0,9,7,8,8,4,2]
l2 = set(l1)
list(l2)

[0, 1, 2, 3, 4, 7, 8, 9]

In [ ]:
# 21. Find the common elements between two lists.
l = [1,2,4,5,6,7,8,9,10]
l1 = [1,2,3,5,6,21]
#k = set(l)
#j = set(l1)
k.intersection(j)

{1, 2, 5, 6}

In [ ]:
# 22. Find the difference between two lists.
print("list l is",l)
print("list l1 is ",l1)
k = [i for i in l if i not in l1]
k

list l is [1, 2, 4, 5, 6, 7, 8, 9, 10]
list l1 is  [1, 2, 3, 5, 6, 21]

[4, 7, 8, 9, 10]

In [ ]:
g=set(l)
h = set(l1)
set(g - h)

{4, 7, 8, 9, 10}

In [ ]:
# 23. Merge two lists.
l = [1,2,3,4]
k = [5,6,7,8,9]
for i in l:
  k.append(i)

k

[5, 6, 7, 8, 9, 1, 2, 3, 4]

In [ ]:
# 24. Multiply all elements in a list by 2.
l = [1,2,3,4,5,6]
for i in l:
  print(i*2,)

2
4
6
8
10
12

In [ ]:
# 25. Filter out all even numbers from a list.
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
  if i%2==0:
    print(i,end=" ")

2 4 6 8 10

In [ ]:
# 26. Convert a list of strings to a list of integers.
l= ["1","2","3","4"]
l1=[]
for i in l:
  l1.append(int(i))
l1

[1, 2, 3, 4]

In [ ]:
l# 27. Convert a list of integers to a list of strings.
l= [1,2,3,4]
l1=[]
for i in l:
  l1.append(str(i))
l1

['1', '2', '3', '4']

In [ ]:
l2 = [1,90.5,5,6,7,3,2,3,5]

l3 = [3,5,6,9]

l2.append(l3)

In [ ]:
# 28. Flatten a nested list
l1 =[]
def flat_list(l):
  for i in l:
    if isinstance(i,list):
      flat_list(i)
    else:
      l1.append(i)
  return l1
flat_list([1,2,4,[1,2,45],9,8,4,[1,2,4]])

[1, 2, 4, 1, 2, 45, 9, 8, 4, 1, 2, 4]

In [ ]:
# 29. Create a list of the first 10 Fibonacci numbers.
a,b = 0,1
print(a,b)
n = 10
for i in range(3,11):
  c=a+b
  print(c,end=" ")
  a,b=b,c

0 1
1 2 3 5 8 13 21 34

In [ ]:
# 30. Check if a list is sorted.
l = [1,2,21,5,6,4]

def sorting(l):
  for i in l:
    if i>i+1:
      return True
    else:
      return False

sorting([1,2,21,5,6,4])

False

In [ ]:
# 31. Rotate a list to the left by `n` positions.
l = [1,2,3,4,5,6,7,8,9,10]
n = int(input("enter no of positions to rotate list to left:"))
for i in range(1,n+1):
  l.append(i)
  l.remove(i)
l

enter no of positions to rotate list to left:4

[5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

In [ ]:
l[4:] + l[:4]

[9, 10, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 32. Rotate a list to the right by `n` positions.
l=[1,2,3,4,5,6,7,8,9,10]
n = int(input("enter no of positions to rotate list to right:"))
l[-n:]+l[n:]

enter no of positions to rotate list to right:2

[9, 10, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 33. Create a list of prime numbers up to 50.
l=[2]
for i in range(3,51):
  is_prime = True
  for j in range(2,i):
    if i%j==0:
      is_prime = False
      break
      l.append(i)
  if is_prime == True:
        l.append(i)
l

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [ ]:
# 34. Split a list into chunks of size `n`.
def split_list_into_chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

# Example list
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Specify the chunk size
chunk_size = 3

# Split the list into chunks
chunks = list(split_list_into_chunks(my_list, chunk_size))

print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

In [ ]:
# 35. Find the second largest number in a list.
l = [1,2,3,4,5,6,7,8,9,10]
k = max(l)

In [ ]:
# 36. Replace every element in a list with its square.
l = [1,2,3,4,5,6,7,8,9,10]
for i in range(len(l)+1):
  l[i-1]=i**2
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
my_list = ['apple', 'banana', 'cherry', 'date']

# Using a dictionary comprehension
my_dict = {element: index for index, element in enumerate(my_list)}

print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

In [ ]:
# 38. Shuffle the elements of a list randomly.
l = [1,2,3,4,5,6,7,8,9]
import random
random.shuffle(l)
l

[3, 7, 1, 5, 4, 8, 2, 9, 6]

In [ ]:
# 39. Create a list of the first 10 factorial numbers.
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result

for i in range(1, 11):
    print(f"Factorial of {i} is {factorial(i)}")

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 6
Factorial of 4 is 24
Factorial of 5 is 120
Factorial of 6 is 720
Factorial of 7 is 5040
Factorial of 8 is 40320
Factorial of 9 is 362880
Factorial of 10 is 3628800

In [ ]:
# 40. Check if two lists have at least one element in common.
l = [1,2,3,4,5,6,7,8]
l1 = [1,3,6,9,10,11,12]
l2=[]
for i in l:
  if i in l1:
    l2.append(i)
if len(l2)>=1:
  print("list two lists have at least one element in common")
else:
  print("two lists doesn't have at least one element in common")

list two lists have at least one element in common

In [ ]:
# 41. Remove all elements from a list.
l=[1,2,3,5,6,7]
l.clear()
l

[]

In [ ]:
# 42. Replace negative numbers in a list with 0.
l = [-1,-2,-3,4,5,6,-8,-8]
for i in range(1,len(l)+1):
  if l[i-1]<0:
    l[i-1]=0
l

[0, 0, 0, 4, 5, 6, 0, 0]

In [ ]:
# 43. Convert a string into a list of words.
s = "suma anusha abbireddy"
l = s.split()
l

['suma', 'anusha', 'abbireddy']

In [ ]:
# 44. Convert a list of words into a string.
l = ['suma', 'anusha', 'abbireddy']
s = l[0]+" "+l[1]+" "+l[2]
s

'suma anusha abbireddy'

In [ ]:
# 45. Create a list of the first `n` powers of 2.
n=int(input())
l=[]
for i in range(1,n+1):
  l.append(2**(i))
l

8

[2, 4, 8, 16, 32, 64, 128, 256]

In [ ]:
# 46. Find the longest string in a list of strings.

l = ["suma","anusha","abbireddy"]
l1=[]
for i in l:
  l1.append(len(i))
d = dict(zip(l,l1))
max_str = max(d, key=lambda k: d[k])
max_str

'abbireddy'

In [ ]:
# 47. Find the shortest string in a list of strings.
l = ["suma","anusha","abbireddy"]
l1=[]
for i in l:
  l1.append(len(i))
d = dict(zip(l,l1))
min_str = min(d, key=lambda k: d[k])
min_str

'suma'

In [ ]:
# 48. Create a list of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = []
    total = 0

    for i in range(1, n + 1):
        total += i
        triangular_numbers.append(total)

    return triangular_numbers

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [ ]:
t=0
s=[]
for i in range(1,6):
  t+=i
  s.append(t)
s

[1, 3, 6, 10, 15]

In [ ]:
# 49. Check if a list contains another list as a subsequence.
l = [1,2,4,3,5,6,7,8]
l2=[3,4]
for i in l2:

False

In [ ]:
# 50. Swap two elements in a list by their indices.

l = [1,2,3,4,5,6,7,8,9,10]
l[2],l[1] = l[1],l[2]
l

[1, 3, 2, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Tuple Based Practice Problem :

In [ ]:
# 1. Create a tuple with integers from 1 to 5.
t = (1,2,3,4,5)
print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
# 2. Access the third element of a tuple.
t = (1,2,3,4,5,6,7,8)
t[2]

3

In [ ]:
# 3. Find the length of a tuple without using the `len()` function.
t = (1,2,3,4,5,6,7)
length = 0
for i in  t:
  length+=1
length

7

In [ ]:
# 4. Count the occurrences of an element in a tuple.
g = int(input("enter element to count occurrences"))
t = (1,1,2,3,4,5,6,7)
t.count(g)

enter element to count occurrences1

2

In [ ]:
# 5. Find the index of the first occurrence of an element in a tuple.
t = (1,0,1,2,2,3,4,5)
t[1]

0

In [ ]:
# 6. Check if an element exists in a tuple.
t = (1,2,3,4,5,6,7,8)
5 in t

True

In [ ]:
# 7. Convert a tuple to a list.
t = (1,2,3)
g = list(t)
g

[1, 2, 3]

In [ ]:
# 8. Convert a list to a tuple.
print("g:",g)
k = tuple(g)
k

g: [1, 2, 3]

(1, 2, 3)

In [ ]:
# 9. Unpack the elements of a tuple into variables.
l =(1,2,3)
a,b,c =l
print(a,b,c)

1 2 3

In [ ]:
# 10. Create a tuple of even numbers from 1 to 10.
l=[]
for i in range(1,11):
  if i%2==0:
    l.append(i)
tuple(l)

(2, 4, 6, 8, 10)

In [ ]:
# 11. Create a tuple of odd numbers from 1 to 10.
l=[]
for i in range(1,11):
  if i%2!=0:
    l.append(i)
tuple(l)

(1, 3, 5, 7, 9)

In [ ]:
# 12. Concatenate two tuples.
t = (1,2,3)
t1 = (21,23,45)
t+t1

(1, 2, 3, 21, 23, 45)

In [ ]:
# 13. Repeat a tuple three times.
t = (1,2,3,4)
t*3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
# 14. Check if a tuple is empty.
t0 =()

t=(1,2,3)
if t!=t:
  print("empty tuple")
else:
  print("not empty tuple")

not empty tuple

In [ ]:
# 15. Create a nested tuple.
n = (1,2,3,(1,2),(9,8))
type(n)

tuple

In [ ]:
# 16. Access the first element of a nested tuple.
n = ((1,2,3),(1,2),(9,8))
n[0][0]

1

In [ ]:
# 17. Create a tuple with a single element.
t=(1,)
type(t)

tuple

In [ ]:
# 18. Compare two tuples.
t = (1,2,3)
t1 = (4,2,1,3)
t ==t1

False

In [ ]:
# 19. Delete a tuple.
try:
  t = (1,2,4)
  del t
  print(t)
except Exception as e:
  print(e)

name 't' is not defined

In [ ]:
# 20. Slice a tuple.

t = (1,2,3,5,6,7,8,9)
t[2:]

(3, 5, 6, 7, 8, 9)

In [ ]:
# 21. Find the maximum value in a tuple.
t = (1,2,3,4,6)
max(t)

6

In [ ]:
# 22. Find the minimum value in a tuple.
t = (1,2,3,4,5)
min(t)

1

In [ ]:
# 23. Convert a string to a tuple of characters
s = "suma anusha reddy"
l=[]
for i in s:
  l.append(i)
print(tuple(l),end=" ")

('s', 'u', 'm', 'a', ' ', 'a', 'n', 'u', 's', 'h', 'a', ' ', 'r', 'e', 'd', 'd', 'y')

In [ ]:
# 24. Convert a tuple of characters to a string.
t = ('s', 'u', 'm', 'a', ' ', 'a', 'n', 'u', 's', 'h', 'a', ' ', 'r', 'e', 'd', 'd', 'y')
s = ""
for i in t:
  s+=i
s

' suma anusha reddy'

In [ ]:
# 25. Create a tuple from multiple data types.
t = (1,2,"suma",5+6j,5.6)
type(t)

tuple

In [ ]:
# 26. Check if two tuples are identical.

t1 = (1,2,3)
t2 = (1,2,3,4)
if t1==t2:
  print("identical")
else:
  print("not identical")

not identical

In [ ]:
# 27. Sort the elements of a tuple.
t = (1,2,3,4,5,32,121,7,8,30,9,3,)
a = list(t)
a.sort()
print("asc order",tuple(a))
a.sort(reverse = True)
print("desc order",tuple(a))

asc order (1, 2, 3, 3, 4, 5, 7, 8, 9, 30, 32, 121)
desc order (121, 32, 30, 9, 8, 7, 5, 4, 3, 3, 2, 1)

In [ ]:
# 28. Convert a tuple of integers to a tuple of strings
t = (1,2,3,4,5,6)
k = list(t)
b=[]
for i in k:
  b.append(str(i))
tuple(b)

('1', '2', '3', '4', '5', '6')

In [ ]:
# 29. Convert a tuple of strings to a tuple of integers.
t = ('1', '2', '3', '4', '5', '6')
k = list(t)
b=[]
for i in k:
  b.append(int(i))
tuple(b)

(1, 2, 3, 4, 5, 6)

In [ ]:
# 30. Merge two tuples.
t = (1,2,4)
t1 = ("suma",5.8)
t+t1

(1, 2, 4, 'suma', 5.8)

In [ ]:
# 31. Flatten a nested tuple.
l=[]
def flat_nes_tuple(t):
  for i in t:
    if isinstance(i,tuple):
      flat_nes_tuple(i)
    else:
      l.append(i)
  return tuple(l)
flat_nes_tuple((1,2,(1,2,3),1,32,11))

(1, 2, 1, 2, 3, 1, 32, 11)

In [ ]:
# 32. Create a tuple of the first 5 prime numbers.
l=[2]
n=123
for i in range(3,n):
  is_prime = True
  for j in range(2,i):
    if i%j==0:
      is_prime = False
      break
      l.append(i)
  if is_prime == True:
        l.append(i)
  if len(l)==5:
    break
tuple(l)

(2, 3, 5, 7, 11)

In [ ]:
# 33. Check if a tuple is a palindrome
t=(1,2,1,4)
k = t[::-1]
if t==k:
  print("palindrome")
else:
  print("not palindrome")

not palindrome

In [ ]:
# 34. Create a tuple of squares of numbers from 1 to 5.
t = (1,2,3,4,5,)
l=[]
for i in t:
  l.append(i**2)
tuple(l)

(1, 4, 9, 16, 25)

In [ ]:
# 35. Filter out all even numbers from a tuple.

t = (1,2,4,3,5,6,7,8,9,10)
for i in t:
  if i%2==0:
    print(i)

2
4
6
8
10

In [ ]:
t = (1,2,4,3,5,6,7,8,9,10)
tuple(filter(lambda a: a%2==0,t))

(2, 4, 6, 8, 10)

In [ ]:
# 37. Create a tuple of random numbers.

import random
tuple(random.sample(range(1,123),3))

(93, 12, 105)

In [ ]:
# 38. Check if a tuple is sorted.
l = (1,2,21,5,6,4)

def sorting(l):
  for i in l:
    if i>i+1:
      return True
    else:
      return False

sorting((1,2,21,5,6,4))

False

In [ ]:
# 39. Rotate a tuple to the left by `n` positions.
n=int(input())
t = (1,2,4,3,5,6)
t[n:]+t[:n]

2

(4, 3, 5, 6, 1, 2)

In [ ]:
#40. Rotate a tuple to the right by `n` positions.
n=int(input())
t = (1,2,4,3,5,6)
t[-n:]+t[n:]

2

(5, 6, 4, 3, 5, 6)

In [ ]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
a,b = 0,1
l1 =[0,1]
n = 10
for i in range(1,4):
  c=a+b
  l1.append(c)
  a,b=b,c
tuple(l1)

(0, 1, 1, 2, 3)

In [ ]:
# 42. Create a tuple from user input
t = input("enter list of strings:")
k = t.split()
tuple(k)

enter list of strings:suma anusha abbireddy reddy

('suma', 'anusha', 'abbireddy', 'reddy')

In [ ]:
# 43. Swap two elements in a tuple.
n1 = int(input("enter index of first element to swap:"))
n2 = int(input("enter index of second element to swap:"))
t = (1,2,3,4,5,6)
l = list(t)
l[n1],l[n2] = l[n2],l[n1]
tuple(l)

enter index of first element to swap:2
enter index of second element to swap:3

(1, 2, 4, 3, 5, 6)

In [ ]:
# 44. Reverse the elements of a tuple.

t = (1,2,3,4,5,6)
k = list(t)
tuple(k[::-1])

(6, 5, 4, 3, 2, 1)

In [ ]:
# 45. Create a tuple of the first `n` powers of 2.
n=int(input())
l=[]
for i in range(1,n+1):
  l.append(2**(i))
tuple(l)

8

(2, 4, 8, 16, 32, 64, 128, 256)

In [ ]:
# 46. Find the longest string in a tuple of strings.
l = ("suma","anusha","abbireddy")
l1=[]
for i in l:
  l1.append(len(i))
d = dict(zip(l,l1))
max_str = max(d, key=lambda k: d[k])
max_str

'abbireddy'

In [ ]:
# 47. Find the shortest string in a tuple of strings.
l = ("suma","anusha","abbireddy")
l1=[]
for i in l:
  l1.append(len(i))
d = dict(zip(l,l1))
min_str = min(d, key=lambda k: d[k])
min_str

'suma'

In [ ]:
# 48. Create a tuple of the first `n` triangular numbers.
def generate_triangular_numbers(n):
    triangular_numbers = []
    total = 0

    for i in range(1, n + 1):
        total += i
        triangular_numbers.append(total)

    return tuple(triangular_numbers)
generate_triangular_numbers(5)

(1, 3, 6, 10, 15)

In [ ]:
# 49. Check if a tuple contains another tuple as a subsequence.

larger_tuple = set((1, 2, 3, 4, 5, 6, 7))
smaller_tuple = set((3, 4, 5))

smaller_tuple.issubset(larger_tuple)

True

In [ ]:
# 50. Create a tuple of alternating 1s and 0s of length `n
n = 10  #
alternating_tuple = tuple(1 if i % 2 == 0 else 0 for i in range(n))
alternating_tuple

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [ ]:
# 1. Create a set with integers from 1 to 5.
s = {1,2,3,4,5}
type(s)

set

In [ ]:
# 2. Add an element to a set.
s.add("suma")
s

{1, 2, 3, 4, 5, 'suma'}

In [ ]:
# 3. Remove an element from a set.
a = {1,2,3,4}
a.discard(1)
a

{2, 3, 4}

In [ ]:
# 4. Check if an element exists in a set.
t=(1,2,3)
5 in t

False

In [ ]:
# 5. Find the length of a set without using the `len()` function.
t = {1,2,3,4,5,6,7}
length = 0
for i in  t:
  length+=1
length

7

In [ ]:
# 6. Clear all elements from a set.
t={1,2,34,4}
t.clear()
t

set()

In [ ]:
# 7. Create a set of even numbers from 1 to 10.
l=[]
for i in range(1,11):
  if i%2==0:
    l.append(i)
set(l)

{2, 4, 6, 8, 10}

In [ ]:
# 8. Create a set of odd numbers from 1 to 10.
l=[]
for i in range(1,11):
  if i%2!=0:
    l.append(i)
set(l)

{1, 3, 5, 7, 9}

In [ ]:
# 9. Find the union of two sets.
s = {1,2,3}
s1 = {4,5,6,7}
s.union(s1)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# 10. Find the intersection of two sets.
s = {1,2,3}
s1 = {4,5,6,7}
s.intersection(s1)

set()

In [ ]:
# 11. Find the difference between two sets.
s = {1,2,3}
s1 = {4,5,6,7}
s.difference(s1)

{1, 2, 3}

In [ ]:
# 12. Check if a set is a subset of another set.
s = {1,2,3}
s1={1,2,4,3,32,12,9,0}
s.issubset(s1)

True

In [ ]:
# 13. Check if a set is a superset of another set.
s = {1,2,3}
s1={1,2,4,3,32,12,9,0}
s.issuperset(s1)

False

In [ ]:
s1.issuperset(s1)

True

In [ ]:
# 14. Create a set from a list
l =[1,2,3,4,5,6,7,8,9,10]
set(l)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# 15. Convert a set to a list
list(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 16. Remove a random element from a set.
import random
s = {1,2,3,4,5,6,7,8,9,10}
l = list(s)
r = random.choice(l)
l.remove(r)
set(l)

{1, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# 17. Pop an element from a set
s = {1,2,3,4,5,6,7,8,9,10}
s.pop()
s

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
# 18. Check if two sets have no elements in common.
s1 = {1,2,3,4,5,6,7,8,9}
s={0,11,12,13,}
s.isdisjoint(s1)

True

In [ ]:
# 19. Find the symmetric difference between two sets.

# represents the set of elements that are in either of the two sets but not in their intersection

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

symmetric_diff = set1.symmetric_difference(set2)
# or
# symmetric_diff = set1 ^ set2

print(symmetric_diff)

{1, 2, 5, 6}

In [ ]:
# 20. Update a set with elements from another set.


set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Update set1 with elements from set2 using the update() method
set1.update(set2)

# or
# set1 |= set2

# Print the updated set1
print(set1)

{1, 2, 3, 4, 5}

In [ ]:
# 21. Create a set of the first 5 prime numbers.
l=[2]
n=123
for i in range(3,n):
  is_prime = True
  for j in range(2,i):
    if i%j==0:
      is_prime = False
      break
      l.append(i)
  if is_prime == True:
        l.append(i)
  if len(l)==5:
    break
set(l)

{2, 3, 5, 7, 11}

In [ ]:
# 22. Check if two sets are identical.
s = {1,2,4}
s1 = {1,2,4}
if s==s1:
  print("identical")
else:
  print("not identical")

identical

In [ ]:
# 23. Create a frozen set.

# frozen set is an immutable version of a set, which means that once it's created, you cannot modify its elements (add or remove elements).
s={1,2,3,4,5,6}
k = frozenset(s)
k

frozenset({1, 2, 3, 4, 5, 6})

In [ ]:
# 24. Check if a set is disjoint with another set.
s = {1,2,4}
s1 = {1,2,4}
s.isdisjoint(s1)

False

In [ ]:
# 25. Create a set of squares of numbers from 1 to 5.
s = {1,2,3,4,5}
l=[]
for i in s:
  l.append(i**2)
set(l)

{1, 4, 9, 16, 25}

In [ ]:
# 26. Filter out all even numbers from a set.
s = {1,2,3,4,5,6,7,8,9,10}
even_set = set(filter(lambda a:a%2==0,s))
even_set

{2, 4, 6, 8, 10}

In [ ]:
# 27. Multiply all elements in a set by 2.
s = {1,2,3,4,5,6}
l=[]
for i in s:
  l.append(i*2)
set(l)

{2, 4, 6, 8, 10, 12}

In [ ]:
# 28. Create a set of random numbers.
import random
set(random.sample(range(1,123),3))

{1, 59, 100}

In [ ]:
# 29. Check if a set is empty.
s = {}
if len(s)==0:
  print("empty set")
else:
  print("not empty set")

empty set

In [ ]:
# 30. Create a nested set (hint: use frozenset).
# Create some frozenset objects
nested_set1 = frozenset({1, 2, 3})
nested_set2 = frozenset({4, 5, 6})

# Create a set that contains the frozenset objects
outer_set = {nested_set1, nested_set2}

# Print the nested set
print(outer_set)

{frozenset({1, 2, 3}), frozenset({4, 5, 6})}

In [ ]:
# 31. Remove an element from a set using the discard method.

s={1,2,3,4,5,6}
s.discard(1)
s

{2, 3, 4, 5, 6}

In [ ]:
# 32. Compare two sets
t = {1,2,3}
t1 = {4,2,1,3}
t ==t1

False

In [ ]:
# 33. Create a set from a string.

s = "suma anusha abbireddy"
l=[]
k = s.split()
for i in k:
  l.append(i)
set(l)

{'abbireddy', 'anusha', 'suma'}

In [ ]:

# 34. Convert a set of strings to a set of integers.
t = {'1','2','3','4','5','6'}
k = list(t)
b=[]
for i in k:
  b.append(int(i))
set(b)

{1, 2, 3, 4, 5, 6}

In [ ]:
# 35. Convert a set of integers to a set of strings.
t ={1,2,3,4,5,6}
k = list(t)
b=[]
for i in k:
  b.append(str(i))
set(b)

{'1', '2', '3', '4', '5', '6'}

In [ ]:
# 36. Create a set from a tuple.
t = (1,2,4)
set(t)

{1, 2, 4}

In [ ]:
# 37. Convert a set to a tuple.
t = (1,2,4)
set(t)

{1, 2, 4}

In [ ]:
# 38. Find the maximum value in a set.

s = {1,2,3,4,5}
max(s)

5

In [ ]:
# 39. Find the minimum value in a set.
s = {1,0,-9}
min(s)

-9

In [ ]:
# 40. Create a set from user input.
s = "suma anusha abbireddy"
k = s.split()
set(k)

{'abbireddy', 'anusha', 'suma'}

In [ ]:
# 41. Check if the intersection of two sets is empty.
s = {1,2,3,4}
s1 = {0,32,11,12}
k = s.intersection(s1)
if len(k) ==0:
  print(" intersection of two sets is empty")
else:
  print(" intersection of two sets is not empty")

 intersection of two sets is empty

In [ ]:
# 42. Create a set of the first 5 Fibonacci numbers.
a,b = 0,1
l1 =[0,1]
n = 10
for i in range(1,n):
  c=a+b
  l1.append(c)
  a,b=b,c
set(l1)

{0, 1, 2, 3, 5, 8, 13, 21, 34, 55}

In [ ]:
# 43. Remove duplicates from a list using sets.
l = [11,1,1,2,3,4,4]
set(l)

{1, 2, 3, 4, 11}

In [ ]:
# 44. Check if two sets have the same elements, regardless of their count.
s = {1, 2, 4, 5, 11}
s1 = {1, 2, 4, 5, 6, 7, 8}

elements_found = True

for element in s:
    if element not in s1:
        elements_found = False
        break

if elements_found:
    print("The two sets have the same elements, regardless of their count.")
else:
    print("The two sets don't have the same elements, regardless of their count.")

The two sets don't have the same elements, regardless of their count.

In [ ]:
# 45. Create a set of the first `n` powers of 2.
n=int(input())
l=[]
for i in range(1,n+1):
  l.append(2**(i))
set(l)

7

{2, 4, 8, 16, 32, 64, 128}

In [ ]:
# 46. Find the common elements between a set and a list.
s = {1,2,4,5,6}
s1 = [1,2,3,4,5]
l2=[]
for i in s:
  if i in s1:
    l2.append(i)
set(l2)

{1, 2, 4, 5}

In [ ]:
# 47. Create a set of the first `n` triangular numbers.

def generate_triangular_numbers(n):
    triangular_numbers = []
    total = 0

    for i in range(1, n + 1):
        total += i
        triangular_numbers.append(total)

    return tuple(triangular_numbers)
k = generate_triangular_numbers(5)
set(k)

{1, 3, 6, 10, 15}

In [ ]:
# 48. Check if a set contains another set as a subset.

# Define the sets
set1 = {1, 2, 3, 4, 5}
set2 = {2, 3}
set3 = {6, 7}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")


# Check if set3 is a subset of set1
is_subset = set3.issubset(set1)

if is_subset:
    print("set3 is a subset of set1.")
else:
    print("set3 is not a subset of set1.")

set2 is a subset of set1.
set3 is not a subset of set1.

In [ ]:
# 49. Create a set of alternating 1s and 0s of length `n`.
n = 10
alternating_set = set(1 if i % 2 == 0 else 0 for i in range(n))
alternating_set

{0, 1}

In [ ]:
# 50. Merge multiple sets into one.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}


merged_set = set1.union(set2, set3)

print(merged_set)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
merged = set1 | set2 | set3
merged

{1, 2, 3, 4, 5, 6, 7}