In [1]:
# class --- classification of real world entities

In [2]:
# int, float, list, Exception, tuple...................classes

In [3]:
#use case--------big project --multiple modules develop

In [1]:
class a:
    a = 10

In [2]:
a

__main__.a

In [3]:
# oops makes it maintenance and reusuability

In [4]:
# object ------ variable of a class

In [5]:
''' EX: integer ---class
       object : a,b,c = 10,12,12 ------ a,b,c are objects'''

' EX: integer ---class\n       object : a,b,c = 10,12,12 ------ a,b,c are objects'

In [6]:
# through object we are accessing various methods

https://github.com/python/mypy/blob/master/mypy/copytype.py

In [6]:
# declaring related items in one class.
# one can go to class and check functions

    
class bankaccount():
    def open_account(self,name,email_id):   # give parameter as a pointer . we can give anything ... we have w arguments a=only suma is pointer 
            #self is n0t key word
        try:
            if not name or email_id:
                raise Exception("name and email_id are not given") 
            print("open account by taking name and email id")
            return name+email_id
        except Exception as e:
            print(e)
            
    def deposit_Account(self,amount):
        try:
            if amount<=0:
                raise Exception("amount is negative or zero")
            print("i am trying to deposit an amount in my account")
        except Exception as e:
            print(e)
            
    def withdraw(self,amount_with):
        try:
            print("withdraw amount")
        except Exception as e:
            print(e)
            
    def update_details(self,name_update,email_update):
        try:
            print("will update name and email in account")
        except Exception as e:
            print(e)

In [7]:
open_account("suma","abbi@gmail.com")

NameError: name 'open_account' is not defined

In [8]:
# as we need to create object for class

In [9]:
bankaccount.open_account("suma","abbireddysumaanusha491@gmail.com")

TypeError: bankaccount.open_account() missing 1 required positional argument: 'email_id'

In [10]:
suma = bankaccount()       # variable of a class (object)

In [11]:
suma.open_account("suma","abbireddysumaanusha491@gmail.com")

name and email_id are not given

In [24]:
suma.open_account("suma","abbireddysumaanusha491@gmail.com",3)

TypeError: bankaccount.open_account() takes 3 positional arguments but 4 were given

In [37]:
suma.deposit_Account("suma","1000",3)

TypeError: bankaccount.deposit_Account() takes 3 positional arguments but 4 were given

In [16]:
''' Example:   integer is class
a = 10 # a is variable
through varibale we can call any functions/methods defined in int class.
a.remove() alaa '''

' Example:   integer is class\na = 10 # a is variable\nthrough varibale we can call any functions/methods defined in int class.\na.remove() alaa '

In [17]:
''' In the same way ..... bankaccount is class... we are declaring one variable or object suma through which we are callong methods/functions defined
in class.'''

' In the same way ..... bankaccount is class... we are declaring one variable or object suma through which we are callong methods/functions defined\nin class.'

In [10]:
class list_ops:
    
    def extractfromindex(suma,l,index):
        return l[index]
    
    def extractrangedata(suma,l,start,end):
        return l[start:end]
    
    def extracteven(suma,l):
        l1=[]
        for i in l:
            if i%2==0:
                l.append(i)
        return l1
    a = 10
    l=[1,2,3]

In [11]:
first_obj = list_ops()

In [12]:
first_obj.extractfromindex([1,2,3,4,5],4)

5

In [13]:
first_obj.extractrangedata([1,2,3,4,5],1,4)

[2, 3, 4]

In [14]:
first_obj.a

10

In [16]:
first_obj.extractrangedata(first_obj.l,1,4)

[2, 3]

In [1]:
# passing different data for different objects

class list_ops:
    # constructor ----method where you will pass data
    def __init__(suma,l):                  # (dunder inbuilt  function) .. initiate class variable to pass data
        suma.l1 = l
        suma.l2 = 40
        suma.l3 = "suma"
        suma.l4 = (1,2,3,4)
        suma.l5 ={"key":"value"}
    
    def extractfromindex(suma,l,index):
        return l[index]
    
    def extractrangedata(suma,l,start,end):
        return l[start:end]
    
    def extracteven(suma,l):
        l1=[]
        for i in l:
            if i%2==0:
                l.append(i)
        return l1
    #a = 10
    #l=[1,2,3]

In [2]:
obj3 = list_ops()

TypeError: list_ops.__init__() missing 1 required positional argument: 'l'

In [3]:
obj3 = list_ops([1,2,3,4,5,6,7])
obj3.l1

[1, 2, 3, 4, 5, 6, 7]

In [4]:
obj4 = list_ops([11,212,1,2,12,13,14])

In [5]:
obj4.l2

40

In [6]:
obj3.l2

40

In [7]:
class book:
    def __init__(pointer,name,title,pageno):
        pointer.name_of_book = name
        pointer.title_of_book = title
        pointer.page_no = pageno
        
    def extract_details(pointer):
        print(pointer.name_of_book , pointer.title_of_book)
    
    def print_page_no(pointer):
        print(pointer.page_no)

In [9]:
suma = book("python","theory",89)
subhi = book("DS","imp of DS",345)
viha = book("sql", "database",34)

In [10]:
suma.extract_details()

python theory

In [12]:
viha.extract_details()

sql database

In [19]:
class gmail_ops:
    def __init__(my,userid,password):
        my.user_id = userid
        my.pass_Word = password
        my.url = "https://mail.google.com/mail/u/0/#inbox"
    def login(my):
        print("take userid " + my.user_id + " take password " + my.pass_Word + " hit url " + my.url)
        
    def read_mail(my):
        print("read mail for" + my.user_id + " " + my.pass_Word)
    
    def reply_mail(my):
        print("Reply mail for" + my.user_id + " " + my.pass_Word)

In [20]:
user1 = gmail_ops("user1","iser1pass")

In [21]:
user1.login()

take userid user1 take password iser1pass hit url https://mail.google.com/mail/u/0/#inbox

In [18]:
from functools import reduce
class calculator:

    
    def add(sing,*su):
        try:
            return  sum(su)
        except Exception as e:
            print(e)
    
    def sub(sing,*su):
        return  reduce( lambda a,b: a-b,su)
    
    def mult(sing,*su):
        return  reduce(lambda a,b : a*b,su)
    
    def div(sing,*su):
        return   reduce(lambda a,b :a/b,su)

In [19]:
ram = calculator()

In [20]:
ram.add(1,2,3,4,5)

15

In [21]:
ram.add("suma")

unsupported operand type(s) for +: 'int' and 'str'

In [38]:
ram.sub(1,2,3,4,5)

-13

In [39]:
ram.mult(1,2,3,4)

24

In [40]:
ram.div(1,2,3,4)

0.041666666666666664

In [41]:
karan = calculator()

In [42]:
karan.add(1,2)

3

In [13]:
from functools import reduce
class calculator:
    
    def __init__(sing,user_name):
        sing.username = user_name
    
    def add(sing,*su):
        try:
            return sing.username, sum(su)
        except Exception as e:
            print(e)
    
    def sub(sing,*su):
        try: 
            return sing.username, reduce( lambda a,b: a-b,su)
        except Exception as e:
            print(e)
    
    def mult(sing,*su):
        try:
            return sing.username, reduce(lambda a,b : a*b,su)
        except Exception as e:
            print(e)
    
    def div(sing,*su):
        try:
            return sing.username,  reduce(lambda a,b :a/b,su)
        except Exception as e:
            print(e)

In [14]:
a = calculator("suma_abbireddy")

In [15]:
a.add()

('suma_abbireddy', 0)

In [16]:
a.add(1,2,3)

('suma_abbireddy', 6)

In [17]:
a.add(suma)

NameError: name 'suma' is not defined

In [23]:
a.div("suma")

('Suma', 'suma')

# Inheritance

In [4]:
# reuasubility code .use

In [5]:
class a:
    
    def test(self):
        print("this test methos is part of class a")

In [6]:
obj_a = a()

In [7]:
obj_a.test()

this test methos is part of class a

In [8]:
# one way, we are having the same code as of class a
class b:
    
    def test(self):
        print("this test methos is part of class a")

### Single inheritance

##### Single inheritance: When a child class inherits from only one parent class, it is called
##### 
###### now inherit prop of a into b class

In [26]:
class a:
    
    def test(self):
        print("this test methos is part of class a")

In [27]:
class b(a):
    def test1b(self):
        print("this is part of vlass b")

In [28]:
obj_b = b()

In [29]:
obj_b.test()

this test methos is part of class a

In [30]:
obj_b.test1b()

this is part of vlass b

####  Multilevel inheritance

##### Multilevel inheritances: When we have a child and grandchild relationship. This means that a child class will inherit from its parent class, which in turn is inheriting from its parent class.

##### 3 classes..... lecture > student(inherited from lecture) > teacher (inherited from student)

#### One way

In [31]:
class lecture:
    
    def topic(self):
        print("discussing about inheritance in oops")
        
    def timing(self):
        print("timing is 9am IST")
        
    def doubt_class(self):
        print("timing is 12 am IST")

In [32]:
class student(lecture):
    
    def stud_details(self):
        print("this class will give a student details")

In [33]:

class teacher(student):
    
    def details(self):
        print("this will give you details about teacher")

In [34]:
sudh = teacher()

In [35]:
sudh.topic()

discussing about inheritance in oops

In [36]:
sudh.stud_details()

this class will give a student details

### multible inheritance

##### When a child class inherits from multiple parent classes, it is called multiple inheritances. 
##### Unlike Java, python shows multiple inheritances.

#### lecture and student are two classes > teacher inheriting from lecture and student

In [23]:
class lecture:
    
    def topic(self):
        print("discussing about inheritance in oops")
        
    def timing(self):
        print("timing is 9am IST")
        
    def doubt_class(self):
        print("timing is 12 am IST")

In [24]:
class student:
    
    def stud_details(self):
        print("this class will give a student details")

In [25]:
class teacher(student,lecture):
    
    def details(self):
        print("this will give you details about teacher")

In [30]:
krish = teacher()

In [31]:
krish.timing()

timing is 9am IST

In [32]:
krish.stud_details()

this class will give a student details

In [33]:
krish.details()

this will give you details about teacher

In [37]:
# # ordering property can be clearly seen in this example

In [39]:
class lecture:
    
    def topic(self):
        print("discussing about inheritance in oops")
        
    def timing(self):
        print("timing is 9am IST")
        
    def doubt_class(self):
        print("timing is 12 am IST")

In [40]:
class student:
    
    def stud_details(self):
        print("this class will give a student details")
        
    def timing(self):
        print("this is timing from fun student class")

In [41]:
class teacher(student,lecture):
    
    def details(self):
        print("this will give you details about teacher")

In [42]:
meera = teacher()

In [43]:
meera.timing()

this is timing from fun student class

#priority it gives
meera.timing()

In [44]:
 class teacher(lecture,student):
    
    def details(self):
        print("this will give you details about teacher")

In [45]:
subhi = teacher()

In [46]:
subhi.timing()

timing is 9am IST

# PRACTISE PROBLEMS

https://github.com/sudh9931/opps_assignment/tree/main

Problem 1: Bank Account Create a class representing a bank account with attributes like account number, account holder name, and balance. Implement methods to deposit and withdraw money from the account.

Problem 2: Employee Management Create a class representing an employee with attributes like employee ID, name, and salary. Implement methods to calculate the yearly bonus and display employee details.

Problem 3: Vehicle Rental Create a class representing a vehicle rental system. Implement methods to rent a vehicle, return a vehicle, and display available vehicles.

Problem 4: Library Catalog Create classes representing a library and a book. Implement methods to add books to the library, borrow books, and display available books.

Problem 5: Product Inventory Create classes representing a product and an inventory system. Implement methods to add products to the inventory, update product quantity, and display available products.

Problem 6: Shape Calculation Create a class representing a shape with attributes like length, width, and height. Implement methods to calculate the area and perimeter of the shape.

Problem 7: Student Management Create a class representing a student with attributes like student ID, name, and grades. Implement methods to calculate the average grade and display student details.

Problem 8: Email Management Create a class representing an email with attributes like sender, recipient, and subject. Implement methods to send an email and display email details.

Problem 9: Social Media Profile Create a class representing a social media profile with attributes like username and posts. Implement methods to add posts, display posts, and search for posts by keyword.

Problem 10: ToDo List Create a class representing a ToDo list with attributes like tasks and due dates. Implement methods to add tasks, mark tasks as completed, and display pending tasks.

Problem 1: Bank Account Create a class representing a bank account with attributes like account number, account holder name, and balance. Implement methods to deposit and withdraw money from the account.

In [56]:
class bank_account:
    
    def __init__(self,acc_no,acc_holder_name,acc_balance =0.0):
        self.account_number = acc_no
        self.account_holder_name = acc_holder_name
        self.account_balance = acc_balance
    
    def acc_deposit(self,deposit_amo):
        if deposit_amo>0:
            self.account_balance+=deposit_amo
            print(f"Deposited ${deposit_amo} into {self.account_holder_name}'s account. New balance: ${self.account_balance}")
        else:
            print("invalid amount entered")
        
    def acc_withdraw(self,withdraw_Amo):
        if 0<withdraw_Amo<=self.account_balance:
            self.account_balance  = self.account_balance -  withdraw_Amo
            print(f"you have withdrawn {withdraw_Amo} from {self.account_holder_name}")
            print("now balance in your account is", self.account_balance)
                  
        else:
            print("invalid amount")
    
    def get_balance(self):
        print("balance is ",self.account_balance)
        
    def __str__(self):
        return f"Account Holder: {self.account_holder_name}\nAccount Number : {self.account_number}\n Balance : {self.account_balance}"

In [57]:
obj_bank = bank_account(40276456123,"suma anusha abbireddy")
print(obj_bank)

Account Holder: suma anusha abbireddy
Account Number : 40276456123
 Balance : 0.0

In [58]:
obj_bank.acc_deposit(92000)

Deposited $92000 into suma anusha abbireddy's account. New balance: $92000.0

In [59]:
obj_bank.acc_withdraw(92000)

you have withdrawn 92000 from suma anusha abbireddy
now balance in your account is 0.0

In [60]:
obj_bank.get_balance()

balance is  0.0

 Problem 2: Employee Management Create a class representing an employee with attributes like employee ID, name, and salary. Implement methods to calculate the yearly bonus and display employee details.

In [2]:
class employee_management:
    
    def __init__(self,employ_id,name,salary):
        self.employee_id = employ_id
        self.employee_name = name
        self.employee_salary = salary
        
    def year_bonus(self):
        bonus = (5/100)*self.employee_salary
        print("yearly bonus is", bonus)
        
        
    def __str__(self):
        return f"Employee_ID:{self.employee_id}\n Employee_Name:{self.employee_name}\n Employee_salary:{self.employee_salary}"

In [7]:
emp_man_obj = employee_management("F09592","Suma Abbireddy",700000)

In [8]:
emp_man_obj.year_bonus()

yearly bonus is 35000.0

In [9]:
print(emp_man_obj)

Employee_ID:F09592
 Employee_Name:Suma Abbireddy
 Employee_salary:700000

Problem 3: Vehicle Rental Create a class representing a vehicle rental system. Implement methods to rent a vehicle, return a vehicle, and display available vehicles.